* {
  font-family: Arial;
}
body {
  margin: 0;
  padding: 0;
}

/* Cabeçalho do site */
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
/* Espaço total do cabeçalho */
.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
/* Navegação do menu */
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;

}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}
nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: #FFFFFF;
}

/* Imagem do banner */
#banner {
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
}
/* div com os dois campos de conteúdos (headline e options) dentro do banner em coluna */
.column {
  flex-direction: column;
}
/* Espaço da área dos textos */
.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Textos no banner */
.banner_headline h1 {
  color: #FFFFFF;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}
.banner_headline h2 {
  color: #FFFFFF;
  font-size: 20px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}
/* Espaço da área de opções no banner */
.banner_options {
  height: 210px;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #FFFFFF;
  padding: 20px;
}
.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #2b4c99;
}
.banner_title {
  font-size: 21px;
}
.banner_desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner_options a {
  display: inline-block;
  border: 1px solid #FFFFFF;
  padding: 5px;
  color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
}
.banner_friday {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
}
.day,
.hora {
  padding-bottom: 10px;
}

/* Conteúdo geral do site */
#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget_title_text {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}
.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}
/* Conteúdo do Departamentos */
.widget_body_conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.widget_body_option {
  min-width: 145px;
  margin-bottom: 40px;
}
.widget_body_option div {
  width: 145px;
  height: 145px;
  background-color: #39aae1;
  cursor: pointer;
}
/* Conteúdo de Contato */
.widget_body p{
  font-size: 14px;  
}
.contact ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.contact li {
  display: flex;
  align-items: center;
  border-top: 1px solid #999999;
  gap: 5px;
}
.archive {
  border-bottom: 1px solid #999999;
}
.contact li a {
  text-decoration: none;
  color: #36a9e1;
  font-weight: bold;
}
/* Conteúdo Principal */
.flex {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}
article a {
  text-decoration: none;
}
article .news_data {
  display: flex;
}
article .news_posted_at {
  background-color: #2b4c99;
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}
article .news_comments {
  background-color: #39aae1;
  color: #FFFFFF;
  font-size: 12px;
  padding: 10px;
}
article .news_thumbnail {
  margin-top: 30px;
}
article .news_thumbnail img {
  width: 100%;
  height: auto;
}
article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
  color: #000000;
}
article .news_resume {
  line-height: 20px;
  color: #5c5c5c;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Rodapé do Site */
footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}
.footer_menu {
  display: flex;
}
.menu_title {
  font-size: 21px;
  color: #FFFFFF;
  padding-bottom: 15px;
}
.footer_menu a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}
.fm_1,
.fm_2,
.fm_3 {
  flex: 1;
  color: #FFFFFF;
  padding: 20px;
}
.fm_1 {
  background-color: #39aae1;
}
.fm_2 {
  background-color: #0079c7;
}
.fm_3 {
  background-color: #2b4c99;
}

.footer_area {
  display: flex;
}
.footer_areaitem {
  flex: 1;
  color: #FFFFFF;
}
.flexColumn {
  flex-direction: column;
}
footer .widget_title_text {
  color: #FFFFFF;
}
/* Área Medicenter Clinic */
.widget_area_desc {
  font-size: 14px;
  color: #727272;
  margin-bottom: 25px;
  margin-right: 30px;
}
.area_contact {
  display: flex;
  font-size: 14px;
  color: #727272;
  gap: 50px;
}
.contact_phone {
  align-self: flex-end;
}
.contact_phone a {
  text-decoration: none;
  color: #FFFFFF;
}
/* Área Latest Posts */
.widget_area2_desc {
  display: flex;
  color: #FFFFFF;
}
.widget_area2_desc p {
  margin: 0;
  margin-bottom: 25px;
}
.seta {
  width: 30px;
  margin: 0;
  color: #FFFFFF;
}
.seta_2 {
  width: 20px;
  margin: 0;
  color: #FFFFFF;
}
.widget_area2_desc span {
  font-size: 14px;
  color: #36a9e1;
  margin: 0;
  cursor: pointer;
}
/* Área Latest Tweets */
.widget_area3_desc {
  display: flex;
  color: #727272;
}
.widget_area3_desc p {
  margin: 0;
  margin-bottom: 25px;
}
.widget_area3_desc span {
  font-size: 14px;
  color: #36a9e1;
  margin: 0;
  cursor: pointer;
}
/* Área Coyrigth */
.footer_copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}
.footer_copy span {
  color: #FFFFFF;
}
/* Menu Mobile */
.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.mm_line {
  height: 3px;
  background-color: #39aae1;
}


/* Responsividade com máximo 600px */

@media (max-width:600px) {
  /* Área do banner - textos */
  .banner_headline {
    padding: 20px;
  }
  .banner_headline h1 {
    font-size: 55px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  /* Área do banner - opções */
  .banner_options {
    height: auto;
    flex-direction: column;
    margin-top: 70px;
  }

  /* Área de conteúdos */
  .container {
    flex-direction: column;
  }
  /* Conteúdo principal */
  #geral section {
    padding: 20px;
    margin-top: 155px;
  }
  /* Conteúdo departamentos */
  #geral aside {
    padding: 20px;
    margin-top: -70px;
  }

  /* Menu do footer */
  .footer_menu {
    flex-direction: column;
  }
  /* Área de contatos - footer */
  .footer_area {
    flex-direction: column;
    padding: 20px;
    margin-bottom: -40px;
  }
  .seta_2 {
    width: 30px;
  }

  /* Área do autor */
  .footer_copy {
    padding-left: 20px;
  }

  /* Área do cabeçalho - header */
  header .container {
    flex-direction: row;
  }
  /* Header - menu */
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
  }
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


/* Responsividade com mínimo 599px e máximo 930px */

@media (min-width:599px) and (max-width:930px) {
  /* Área do banner - textos */
  .banner_headline {
    padding: 20px;
  }
  .banner_headline h1 {
    font-size: 55px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  /* Área do banner - opções */
  .banner_options {
    height: auto;
    flex-direction: column;
    margin-top: 70px;
  }

  /* Área de conteúdos */
  .container {
    flex-direction: column;
  }
  /* Conteúdo principal */
  #geral section {
    padding: 20px;
    margin-top: 155px;
  }
  /* Conteúdo departamentos */
  #geral aside {
    padding: 20px;
    margin-top: -70px;
  }
  .widget_body_conteudo {
    gap: 100px;
  }

  /* Menu do footer */
  .footer_menu {
    flex-direction: column;
  }
  /* Área de contatos - footer */
  .footer_area {
    flex-direction: column;
    padding: 20px;
    margin-bottom: -40px;
  }
  .seta_2 {
    width: 30px;
  }

  /* Área do autor */
  .footer_copy {
    padding-left: 20px;
  }

  /* Área do cabeçalho - header */
  header .container {
    flex-direction: row;
  }
  /* Header - menu */
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
  }
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


/* Responsividade com mínimo 320px e máximo 370px */

@media (min-width: 320px) and (max-width: 370px) {
  #geral section {
    margin-top: 230px;
    margin-left: 20px;
  }
  #geral aside {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer_copy {
    padding-left: 6px;
    padding-right: 3px;
    font-size: 11px;
  }
  .seta_2 {
    width: 17px;
  }
}


/* Responsividade com mínimo 320px e máximo 360px */

@media (min-width: 320px) and (max-width: 360px) {
  .footer_copy {
    font-size: 11px;
  }
  .seta_2 {
    width: 17px;
  }
}